window {
  background:#090909;
  color:#fffafa;
}

.calendar {
  background-color:#000;
}

.calendar .time {
  background-color:rgba(#A1AEB1,0.3);
  font-family:SpaceMono Nerd Font Mono;
  font-size:1.7rem;
  margin:15px;
  border-radius:15px;
}

.calendar .cal {
  background-color:rgba(#A1AEB1,0.3);
}

.calendar .wish {
  background-color:rgba(#A1AEB1,0.3);
  font-family:SpaceMono Nerd Font Mono;
  font-size:1.7rem;
  margin:15px;
  border-radius:15px;
}

.top-bar {
  padding-top:12px;
}

.workspace-box {
  background:rgba(#848884,0.2);
  border-radius:10px;
  /*border-top-left-radius:25px;*/
  /*border-bottom-right-radius:25px;*/
  font-size:1.35rem;
  padding-top:10px;
  padding-bottom:10px;
  margin:5px;
}
.workspace-box .active {
  color:#FFBF00;
}

.workspace-box .occupied {
  color:#7DF9FF;
}

.workspace-box .empty {
  color:rgba(#FFE5B4,0.85);
  padding-left:5px;
}

.center-box {
  color:#ffffff;
}

.center-box .time {
  font-size:2rem;
  font-family:Anonymice Pro Nerd Font Propo;
  transition:1.2s;
}

.bottom {
  margin-bottom:20px;
  font-size:1.45rem;
}

.bottom-wid {
  font-size:1.5rem;
  background-color:rgba(#848884,0.2);
  color:#fff;
  margin-bottom:10px;
  margin-left:5px;margin-right:5px;
  padding-top:10px;padding-bottom:10px;
  /*margin:5px;*/
  border-radius:10px;
}

.metric-light trough highlight,.metric-vol trough highlight {
  all: unset;
  color: #000000;
  border-radius: 5px;
}

.metric-light trough highlight {
  background-color:#FFBF00;
}

.metric-vol trough highlight {
  background-color:#F44336;
}

.metric-light slider,.metric-vol slider {
  all:unset;
}

.metric-light trough,.metric-vol trough {
  all: unset;
  background-color: rgba(#4e4e4e,0.5);
  border-radius: 5px;
  min-height: 70px;
  min-width: 10px;
}

.progress-dis trough,.progress-char trough {
  all:unset;
  background-color:rgba(#4e4e4e,0.5);
  min-height:70px;
  min-width:10px;
  margin-bottom:10px;
  border-radius:10px;
}

.progress-dis progress,.progress-char progress {
  all:unset;
  color:#000000;
  border-radius:10px;
  min-width:10px;
}

.progress-dis progress {
  background-color:#DFFF00;
}

.progress-char progress {
  background:linear-gradient(#90EE90,#0FFF50,#32CD32,#4CBB17,#2AAA8A);
}

.window-reveal {
  background:rgba(#4e4e4e,0.35);
  margin:5px;
  border-radius:10px;
  font-size:1.5rem;
  padding-top:10px;
  padding-bottom:10px;
}
